.gradient-background {
    background: linear-gradient(300deg, #000000, #888888, #ffffff);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.resume-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.option {
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-resume {
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.resume img {
    height: 80vh;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}